@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* обнуление */
@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas/CONSOLA.eot");
  src: local("☺"), url("../fonts/Consolas/CONSOLA.woff") format("woff"), url("../fonts/Consolas/CONSOLA.ttf") format("truetype"), url("../fonts/Consolas/CONSOLA.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Consolas";
  src: url("../fonts/ConsolasB/CONSOLAB.eot");
  src: local("☺"), url("../fonts/ConsolasB/CONSOLAB.woff") format("woff"), url("../fonts/ConsolasB/CONSOLAB.ttf") format("truetype"), url("../fonts/ConsolasB/CONSOLAB.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* шрифты */
.ufo {
  top: -60px;
  left: -50px;
  display: inline-block;
  z-index: 5;
  position: relative;
  -webkit-animation: translateagent 60s linear infinite;
          animation: translateagent 60s linear infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.agent {
  display: inline-block;
  z-index: 5;
  position: relative;
  -webkit-animation: ugolagent 32s linear infinite;
          animation: ugolagent 32s linear infinite;
}
.ufo2 {
  display: inline-block;
  z-index: 5;
  -webkit-animation: translaterifle 40s linear infinite;
          animation: translaterifle 40s linear infinite;
}

.rifle {
  display: inline-block;
  z-index: 5;
  -webkit-animation: ugolrifle 16s linear infinite;
          animation: ugolrifle 16s linear infinite;
}
.rifle img {
  display: inline-block;
  z-index: 5;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

@-webkit-keyframes ugolagent {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ugolagent {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes ugolrifle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes ugolrifle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes translateagent {
  0% {
    -webkit-transform: translate(-50px, -60px);
            transform: translate(-50px, -60px);
  }
  100% {
    -webkit-transform: translate(300px, 1200px);
            transform: translate(300px, 1200px);
  }
}
@keyframes translateagent {
  0% {
    -webkit-transform: translate(-50px, -60px);
            transform: translate(-50px, -60px);
  }
  100% {
    -webkit-transform: translate(300px, 1200px);
            transform: translate(300px, 1200px);
  }
}
@-webkit-keyframes translaterifle {
  0% {
    -webkit-transform: translate(-50px, -20px);
            transform: translate(-50px, -20px);
  }
  100% {
    -webkit-transform: translate(300px, 1200px);
            transform: translate(300px, 1200px);
  }
}
@keyframes translaterifle {
  0% {
    -webkit-transform: translate(-50px, -20px);
            transform: translate(-50px, -20px);
  }
  100% {
    -webkit-transform: translate(300px, 1200px);
            transform: translate(300px, 1200px);
  }
}
.all__body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(../img/textures/darkness.png) round;
  position: relative;
}

.ss13__body {
  position: absolute;
  left: 20%;
  top: 10vh;
  width: 60%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: start;
}
.ss13__top {
  z-index: 6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 7vh;
  border-radius: 13px;
  background: url(../img/textures/greytex.png);
  margin-bottom: 4vh;
}
.ss13__left::-webkit-scrollbar {
  width: 0;
}
.ss13__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  height: 67vh;
  border-radius: 13px;
  margin-right: auto;
  overflow: scroll;
}
.ss13__center::-webkit-scrollbar {
  width: 0;
}
.ss13__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 60%;
  height: 67vh;
  border-radius: 13px;
}

.header__item {
  display: block;
  text-align: center;
}
.header__item_h1 {
  font-family: consolas;
  color: #b42cd6;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 6.5vh;
}
.header__item_h1::before {
  content: "";
  background-image: url(../img/logos/logo2.png);
  width: 7%;
  height: 8%;
  position: absolute;
  left: 5.6vw;
  top: 0.25vw;
  background-size: 100% 100%;
}
.header__item_h1::after {
  content: "";
  background-image: url(../img/logos/logo2.png);
  width: 7%;
  height: 8%;
  position: absolute;
  top: 0.25vw;
  background-size: 100% 100%;
}

.merchandise__body {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30vh;
}
.merchandise__title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 6;
  width: 100%;
  height: 5vh;
  background: url(../img/textures/bluetex.png);
  border-radius: 13px;
  margin-bottom: 2vh;
}
.merchandise__title_h2 {
  font-family: Consolas;
  font-size: 2vw;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 25px;
  padding-left: 1vw;
}
.merchandise__title_h2::after {
  content: "";
  background-image: url(../img/icons/article1.png);
  background-size: 120% 110%;
  width: 4vh;
  height: 4vh;
  display: inline-block;
}
.merchandise__item {
  z-index: 6;
  font-family: Consolas;
  font-size: 1.1vw;
  line-height: 3.5vh;
  font-weight: normal;
  color: whitesmoke;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: 25vh;
  background: url(../img/textures/greytex.png);
  border-radius: 13px;
  margin-bottom: 2vh;
}
.merchandise__item .merchandise__li1:hover::after {
  content: "";
  background: url(../img/icons/phorontank.png) no-repeat;
  width: 3.4vh;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-size: 4vh 4vh;
}
.merchandise__item .merchandise__li2:hover::after {
  content: "";
  background: url(../img/icons/Oxygentank.png) no-repeat;
  width: 3.4vh;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-size: 4vh 4vh;
}
.merchandise__item .merchandise__li3:hover::after {
  content: "";
  background: url(../img/icons/phoroncanister.png) no-repeat;
  width: 3.4vh;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-size: 4vh 4vh;
}
.merchandise__item .merchandise__li4:hover::after {
  content: "";
  background: url(../img/icons/oxygencanister.png) no-repeat;
  width: 3.4vh;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-size: 4vh 4vh;
}
.merchandise__item .merchandise__li5:hover::after {
  content: "";
  background: url(../img/icons/Transfervalve.png) no-repeat;
  width: 3.4vh;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-size: 4vh 4vh;
}
.merchandise__item .merchandise__li1:active::after {
  content: "2000 сredits";
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  font-family: Consolas;
  color: rgba(79, 207, 79, 0.822);
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 6px 0 0 35px;
  position: absolute;
  right: auto;
}
.merchandise__item .merchandise__li2:active::after {
  content: "500 сredits";
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  font-family: Consolas;
  color: rgba(79, 207, 79, 0.822);
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 6px 0 0 35px;
  position: absolute;
  right: auto;
}
.merchandise__item .merchandise__li3:active::after {
  content: "9900 сredits";
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  font-family: Consolas;
  color: rgba(79, 207, 79, 0.822);
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 6px 0 0 35px;
  position: absolute;
  right: auto;
}
.merchandise__item .merchandise__li4:active::after {
  content: "1900 сredits";
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  font-family: Consolas;
  color: rgba(79, 207, 79, 0.822);
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 6px 0 0 35px;
  position: absolute;
  right: auto;
}
.merchandise__item .merchandise__li5:active::after {
  content: "890 сredits";
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  font-family: Consolas;
  color: rgba(79, 207, 79, 0.822);
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 6px 0 0 35px;
  position: absolute;
  right: auto;
}
.merchandise__li1_pointer {
  cursor: pointer;
}
.merchandise__li2_pointer {
  cursor: pointer;
}
.merchandise__li3_pointer {
  cursor: pointer;
}
.merchandise__li4_pointer {
  cursor: pointer;
}
.merchandise__li5_pointer {
  cursor: pointer;
}

.order__body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30vh;
}
.order__title {
  z-index: 6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 5vh;
  background: url(../img/textures/bluetex.png);
  border-radius: 13px;
  margin-bottom: 2vh;
}
.order__title_h2 {
  font-family: Consolas;
  font-size: 2vw;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 25px;
  padding-left: 1vw;
}
.order__title_h2::after {
  content: "";
  background-image: url(../img/icons/paper.png);
  background-size: 150% 150%;
  width: 3.4vh;
  height: 3.4vh;
  display: inline-block;
}
.order__item::-webkit-scrollbar {
  width: 0;
}
.order__item {
  z-index: 6;
  overflow: scroll;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: 25vh;
  background: url(../img/textures/greytex.png);
  border-radius: 13px;
  margin-bottom: 2vh;
}
.order__item_p {
  font-family: Consolas;
  font-size: 1.1vw;
  line-height: 3.5vh;
  font-weight: normal;
  color: whitesmoke;
  padding-left: 1vw;
  padding-right: 1vw;
}
.order__item_p a {
  color: #a31697;
}

.annotation__body {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30vh;
}
.annotation__title {
  z-index: 6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 5vh;
  background: url(../img/textures/bluetex.png);
  border-radius: 13px;
  margin-bottom: 2vh;
}
.annotation__title_h2 {
  font-family: Consolas;
  font-size: 2vw;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 25px;
  padding-left: 1vw;
}
.annotation__title_h2::after {
  content: "";
  background-image: url(../img/icons/sb.png);
  background-size: 120% 100%;
  width: 3.4vh;
  height: 4.3vh;
  display: inline-block;
}
.annotation__item {
  z-index: 6;
  overflow: scroll;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  height: 25vh;
  background: url(../img/textures/greytex.png);
  border-radius: 13px;
  margin-bottom: 2vh;
}
.annotation__item_p {
  font-family: Consolas;
  font-size: 1.1vw;
  line-height: 3.5vh;
  font-weight: normal;
  color: whitesmoke;
  padding-left: 1vw;
  padding-right: 1vw;
}
.annotation__item::-webkit-scrollbar {
  width: 0;
}

.window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.window__body {
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/textures/center.png);
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 3.5vh;
  padding: 10px 0;
}
.window__item {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: whitesmoke;
  margin: 0 auto;
  padding: 0.5vh 0;
  font-family: Consolas;
  font-size: 2vw;
}

.news {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-family: consolas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news__body {
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/textures/center.png);
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 3.5vh;
  padding: 10px 0;
}
.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__item_h2 {
  color: #9e3535;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.news__item_p {
  padding-left: 15px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 20px;
  color: whitesmoke;
}
.news__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  border-radius: 13px;
  overflow: hidden;
}
.news__image img {
  max-width: 100%;
  border-radius: 13px;
  display: block;
}

.researches {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-family: consolas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.researches__body {
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/textures/center.png);
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 3.5vh;
  padding: 10px 0;
}
.researches__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.researches__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.researches__item_h2 {
  color: #9e3535;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.researches__item_p {
  padding-left: 15px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 20px;
  color: whitesmoke;
}
.researches__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  border-radius: 13px;
  overflow: hidden;
}
.researches__image img {
  display: block;
  max-width: 100%;
  border-radius: 13px;
}

.job {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-family: consolas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.job__body {
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/textures/center.png);
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 3.5vh;
  padding: 10px 0;
}
.job__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
.job__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}
.job__item_h2 {
  color: #9e3535;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.job__item_p {
  padding-left: 15px;
  font-size: 16px;
  line-height: 20px;
  color: whitesmoke;
}
.job__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  border-radius: 13px;
  overflow: hidden;
}
.job__image img {
  display: block;
  max-width: 100%;
}

.limitka {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  font-family: consolas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.limitka__body {
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/textures/center.png);
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 3.5vh;
  padding: 10px 0;
}
.limitka__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
.limitka__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}
.limitka__item img {
  position: absolute;
  bottom: 3%;
  left: 14%;
}
.limitka__item_h2 {
  color: #9e3535;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.limitka__item_p {
  padding-left: 15px;
  font-size: 16px;
  line-height: 20px;
  color: whitesmoke;
}
.limitka__item_p span {
  font-family: Consolas;
  color: rgba(79, 207, 79, 0.822);
  font-weight: bold;
}
.limitka__item_p2 {
  padding-left: 15px;
  font-size: 16px;
  line-height: 20px;
  color: whitesmoke;
}
.limitka__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  border-radius: 13px;
  overflow: hidden;
  -webkit-perspective: 3000px;
          perspective: 3000px;
}
.limitka__image img {
  display: block;
  max-width: 100%;
  -webkit-transform: rotate3d(4, 2, 6, 45deg);
          transform: rotate3d(4, 2, 6, 45deg);
}