@font-face {
	font-family: 'Consolas';
	src: url('../fonts/Consolas/CONSOLA.eot');
	src: local('☺'), url('../fonts/Consolas/CONSOLA.woff') format('woff'), url('../fonts/Consolas/CONSOLA.ttf') format('truetype'), url('../fonts/Consolas/CONSOLA.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Consolas';
	src: url('../fonts/ConsolasB/CONSOLAB.eot');
	src: local('☺'), url('../fonts/ConsolasB/CONSOLAB.woff') format('woff'), url('../fonts/ConsolasB/CONSOLAB.ttf') format('truetype'), url('../fonts/ConsolasB/CONSOLAB.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}